certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
gTTS==2.2.3
idna==3.2
libmagic==1.0
pycparser==2.20
python-axolotl
python-magic
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.6

selenium
bs4
Pillow
beautifulsoup4
requests
wikipedia
pyperclip


